body (
	background: 
}

h1.text {
	color: green;
	font-size: 100px;
	position: absolute;
	bottom: 600px;
	left: 420px;
	animation-name: text-animation;
	animation-duration: 3s;
	}
img.tennis {
	display: block;
	height: 300px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	}
h2.motto {
	
