body (
	background: 
}
@keyframes text-animation {
	0% {font-size: 20px;}
	50% {font-size: 50px;}
	100% {font-size: 100px;}
	}
h1.text {
	color: green;
	font-size: 100px;
	position: absolute;
	bottom: 600px;
	left: 420px;

	}
img.tennis {
	display: block;
	height: 300px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	}
h2.motto {
	
